[Unit]
Description=TS Switch Configuration
ConditionKernelCommandLine=tsvlan

[Service]
ExecStart=/usr/local/bin/switchctl --ethvlan

[Install]
WantedBy=network-pre.target


